# Secrets
.env*
!.env.template

# Node.js / Next.js
node_modules/
.npm/
.next/
dist/
*.local
*.log
out/
backend/package-lock.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/
*.sqlite3
.pytest_cache/
*.egg-info/
.eggs/

# OS/Editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
.idea/
*.swp

# Build output
frontend/build/
backend/build/

# Misc
*.bak
*.tmp
backend/script/test.py

# Ignore coverage reports
coverage/
.coverage
htmlcov/
*.cover
