services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/workspace

  db:
    image: "postgres:latest"
    ports:
      - "5432:5432"
    env_file:
      - ../backend/.env
    volumes:
      - party-reg-postgres:/var/lib/postgresql

volumes:
  party-reg-postgres:
